<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.messenger"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />
<uses-permission android:name="android.permission.INTERNET"/>

<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:logo="@drawable/logo_login">
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="Chat" android:label="@string/app_name"> </activity>
        <activity android:name="Const" android:label="@string/app_name"> </activity>
        <activity android:name="Cuonversation" android:label="@string/app_name"> </activity>
        <activity android:name="CustomActivity" android:label="@string/app_name"> </activity>
        <activity android:name="Register" android:label="@string/app_name"> </activity>
        <activity android:name="TouchEffect" android:label="@string/app_name"> </activity>
        <activity android:name="UserList" android:label="@string/app_name"> </activity>
        
    </application>

</manifest>
